<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vuejs</title>
</head>
<style>
    body{
        margin: 5%;
        font-family: 'Courier New', Courier, monospace;
    }
    .active {
        background: salmon;
        border: 0;
        padding: 5px;
    }
    .inactive {
        background-color: #999999;
        border: 0;
        padding: 5px;
    }
</style>
<body>
    <div id="app">
        <header>
            <h3 v-text="name"></h3>
            <p><input type="text" v-model="name"/></p>
            <div>
                <ul v-if="kelas.length">
                    <li v-for="(row,index) of kelas">{{index+1 }}-{{row}}</li>
                </ul>
                <li v-else>Kelas Belum Tersedia </li>
                <ul>
                    <li v-for="row in 5">{{ row }}</li>
                </ul>
                <p>{{ kelas }}</p>
                <label><input type="checkbox" v-model="kelas" value="Reactjs"/>React js</label>
                <label><input type="checkbox" v-model="kelas" value="Vuejs"/>Vuejs</label>
                <label><input type="checkbox" v-model="kelas" value="Angular"/>Angular</label>
            </div>
            <h3>{{ isactive ? 'success' : 'danger' }}</h3>
            <h3>{{ getname() }}</h3>
            <h3>{{ namalengkap }}</h3>
            <h3>{{ qty%2 === 0 ? 'genap' : 'ganjil' }}</h3>
            <p>{{ qty }}</p>
            <button @click="tambahqty()">Klik Saya</button>
            <p v-html="url"></p>
            <img :src="gambar" width="100" />
            <div>
                <ul v-for="row in filterBilangan(number)">{{ row }}</ul>
            </div>
        </header>
        <div>
            <button @click="menu = 'home' " v-bind:class="{active : menu === 'home' }">Home</button>
            <button @click="menu = 'about' " v-bind:class="{active : menu === 'about' }">About</button>
            <button @click="menu = 'blog' " v-bind:class="{active : menu === 'blog' }">Blog</button>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    const mahasiswa = {
        name : 'Angga Maulana',
        kelas : 'Reg.Pagi',
        isactive : true,
        qty : 1,
        firstname: 'Angga',
        lastname : 'Maulana',
        url : "<a href=''>Test V-html</a>",
        gambar : "images/logo.png",
        menu : 'home',
        kelas : [],
        number : [1,2,3,4,5]
    }
    const vm = new Vue({
        el : '#app',
        data : mahasiswa,
        methods : {
            getname :function(){
                return `hello, ${this.name}`
            },
            changeNmae : function(newname){
                this.name = newname;
                return this.getname();
            },
            tambahqty : function(){
                return this.qty++
            },
            filterBilangan : function(number){
                return number.filter((e)=>{
                    return e % 2 == 0
                })
            }
        },
        computed: {
            totalBayar : function(){
                return this.qty * 1000
            },
            namalengkap : function(){
                return `${this.firstname} ${this.lastname}`
            },
        },
    });
</script>
</body>
</html>